@import "tailwindcss";

@tailwind utilities;

@layer utilities {
  .text-shadow-null {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .text-shadow-lg {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  }
  .text-shadow-xl {
    text-shadow: 4px 4px 18px rgba(0, 0, 0, 0.7);
  }
  .text-glow {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.6),
      0 0 1px rgba(255, 255, 255, 0.4);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-light: #f8ccd0;
  --color-primary: #ffb6bd;
  --color-darken: #dfa1a7;
  --color-secondary: #65a3ff;
  --color-accent: #066f94;
  --color-background: #fdf7f7;
  --color-slateblue: #497a92;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.clip-angled2 {
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clip-angled {
  clip-path: polygon(100% 100%, 25% 100%, 0% 0%, 100% 0%);
}
